.example-container {
  background-color: wheat;
  border: 1px solid #000;
  height: 60vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 40px;
}
.item {
  width: 40vw;
  height: 10vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}
.item3 {
  flex-grow: 0;
}
